<h1 class="content__title">{{::$ctrl.content.name}}</h1>
<flex-slider slide="image in $ctrl.content.images track by image.id" animation="slide" touch="true">
	<li>
		<img ng-src="{{image.image}}">
	</li>
</flex-slider>

<p class="content__description" ng-bind-html="$ctrl.content.description | toTrusted"></p>

<div class="content__prices">
	<h2>Стоимость отдыха</h2>
	<uib-tabset active="active">
	<uib-tab index="$index + 1" ng-repeat="voucher in ::$ctrl.content.voucher" heading="{{voucher.name}}" disable="tab.disabled">
		<uib-tabset type="pills">
			<uib-tab ng-repeat="currency in ::voucher.currency" heading="{{currency.name}}">
	  			<table style="width:90%" class="content__table">
					<tr ng-switch="$index">
						<th>Дни</th>
						<th colspan="3" ng-switch-when="0">Стоимость, бел. руб.</th>
						<th colspan="3" ng-switch-when="1">Стоимость, рос. руб.</th>
						<th colspan="3" ng-switch-when="2">Стоимость, евро</th>
					</tr>
					<tr>
						<td></td>
						<td>1</td>
						<td>12</td>
						<td>21</td>
					</tr>
					<tr ng-repeat="item in ::currency.price_type">
						<td>{{item.during}}</td>
						<td ng-if="item.price_per_day">{{item.price_per_day}}</td>
						<td ng-if="item.price_per_day">{{item.price_per_day | fixedPrice: 12}}</td>
						<td ng-if="item.price_per_day">{{item.price_per_day | fixedPrice: 21}}</td>

						<td ng-if="!item.price_per_day">*</td>
						<td ng-if="!item.price_per_day">*</td>
						<td ng-if="!item.price_per_day">*</td>
					</tr>
				</table>
			</uib-tab>
		</uib-tabset>
	</uib-tab>
</uib-tabset>
</div>




