<nav>
  <ul class="navigation">
      <li><a href ui-sref-active="active" class="navigation__item" ui-sref="app.route" ui-sref-opts="{reload: 'app.route'}">Навигация</a></li>
      <li><a href ui-sref-active="active" class="navigation__item" ui-sref="app.main.therapy" ui-sref-opts="{reload: 'app.main.therapy'}">Лечение</a></li>
      <li><a href ui-sref-active="active" class="navigation__item" ui-sref="app.main.rooms" ui-sref-opts="{reload: 'app.main.rooms'}">Номера</a></li>
      <li><a href ui-sref-active="active" class="navigation__item" ui-sref="app.main.services" ui-sref-opts="{reload: 'app.main.services'}">Услуги</a></li>
  </ul>
</nav>
