<div class="info-wrapper">
    <h1>Помощь</h1>
    <span class="info__close" ng-click="$ctrl.close()"><i class="glyphicon glyphicon-remove-circle"></i></span>
    <p class="info__warn">(На всех картах поле по которому осуществляется построение коордианат должно иметь белый цвет( #FFF ). Указание всех координат должно осуществляться только на белом фоне.)</p>
    <ul class="info">
        <li class="info__item">
            <h4>Начало работы</h4>

            <ol>
                <p>Чтобы начать работу вам необходимо создать карту улицы</p>
                <li>Перейдите во вкладку "Улица"</li>
                <li>Загрузите карту улицы</li>
                <li>Добавить здание(указав координаты входа в здание и проход, если он существует)</li>
                <li>Сохранить карту улицы, нажав кнопку сохранить</li>
            </ol>
        </li>
        <li  class="info__item">
            <h4>Добавление этажей</h4>

            <ol>
                <p>Чтобы иметь возможность добавлять этажи в здании вам необходимо создать карту улицы и указать координаты входа в здание</p>
                <li>Перейдите во вкладку "Здания"</li>
                <li>Выберите нужное вам здание в котором вы хотите добавить этаж и нажмите "Добавить"</li>
                <li>Загрузите карту этажа</li>
                <li>
                    <h5>Создание карты этажа</h5>
                    <ol>
                        <li>Укажите номер этажа(Обязательное поле)</li>
                        <li>Укажите координаты вход/выход/лестница/лифт(Обязательное поле)</li>
                        <li>Укажите координаты терминала если он находится на этаже</li>
                        <li>Укажите координаты прохода в другое здание если сущетсвует проход на этаже и укажите куда ведет проход</li>
                    </ol>
                    <h5>Добавление комнат:</h5>
                    <ol>
                        <li>В списке комнта нажмите на "+"</li>
                        <li>Укажите номер комнаты(Обязательное поле)</li>
                        <li>Укажите координаты входа в комнату(Обязательное поле)</li>
                    </ol>
                </li>
                <li>Нажмите сохранить, чтобы сохранить карту этажа</li>
            </ol>
        </li>
        <li  class="info__item">
            <h4>Редактирование этажей</h4>
             <ol>
                <li>Перейдите во вкладку "Здания"</li>
                <li>Выберите нужное вам здание нажмите на значек "Редактировать"</li>
                 <li>Выполните действие как и в пункте "Добавление этажей"</li>
                <li>Нажмите сохранить, чтобы сохранить карту этажа</li>
            </ol>
        </li>
        <li class="info__item">
            <h4>Удаление этажей</h4>
             <ol>
                <li>Перейдите во вкладку "Здания"</li>
                <li>Выберите нужное вам здание  и этаж нажмите на значек "Удалить"</li>
            </ol>
        </li>

   </ul>
</div>