<header>
  <div class="header">
    <div class="header__logo">
        <a class="header__logo__brand" href ui-sref="app.schemeList">
            <img alt="Cпутник" src="./dist/img/logo.png" width="300px">
        </a>
    </div>
    <div class="header__clock">
        <div class="header__clock_time">{{$ctrl.clock}}</div>
        <div class="header__clock_day">{{$ctrl.day}}</div>
    </div>

    <div class="header__tel">
        <div class="header__tel__num">+375(1797) 28-888 <i class="glyphicon glyphicon-earphone"></i></div>
    </div>
  </div>
</header>
