
<div class="service__wrapper">
    <h1 class="content__title">{{::$ctrl.content.name}}</h1>
    <div>
        <span class="content__btn_route" ui-sref="app.route({room: $ctrl.content.room})" ng-if="$ctrl.content.room">Показать маршрут <i class="glyphicon glyphicon-road"></i></span>
        <flex-slider slide="image in $ctrl.content.images track by image.id" animation="slide" touch="true">
        <li>
            <img ng-src="{{image.image}}">
        </li>
    </flex-slider>
    </div>
    <p class="content__description" ng-bind-html="$ctrl.content.description | toTrusted"></p>
</div>
